@if (isOpen) {
  <div class="modal-overlay" (click)="onOverlayClick($event)">
    <div
      class="modal"
      [class.modal--sm]="size === 'sm'"
      [class.modal--lg]="size === 'lg'"
      [class.modal--full]="size === 'full'"
      role="dialog"
      aria-modal="true"
    >
      @if (showHeader) {
        <div class="modal__header">
          <h2 class="modal__title">{{ title }}</h2>
          @if (showCloseButton) {
            <button
              type="button"
              class="modal__close"
              (click)="close()"
              aria-label="Close modal"
            >
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
          }
        </div>
      }
      <div class="modal__body" [class.modal__body--no-padding]="noPadding">
        <ng-content></ng-content>
      </div>
      @if (showFooter) {
        <div class="modal__footer">
          <ng-content select="[modal-footer]"></ng-content>
        </div>
      }
    </div>
  </div>
}
